.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 40px;
  max-width: 800px;
  margin: 40px auto;
}
.recipe-list .card {
  background: white;
  color: darkgray;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
}
.recipe-list .card:hover {
  transform: rotate(2deg);
}
.recipe-list .card h3 {
  color: #222;
  margin-bottom: 6px;
}
.recipe-list .card p {
  color: dimgray;
  font-size: 0.9em;
}
.recipe-list .card div {
  color: dimgray;
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}
.recipe-list .card a {
  color: dimgray;
  text-decoration: none;
  display: block;
  position: relative;
  float: none;
  background: whitesmoke;
  font-size: 0.9em;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

/* dark mode */
.recipe-list .card.dark {
  background: #222;
}
.recipe-list .card.dark h3 {
  color: #e4e4e4;
}
.recipe-list .card.dark p {
  color: rgb(185, 185, 185);
}
.recipe-list .card.dark div {
  color: rgb(185, 185, 185);
}
