.searchbar form {
  display: flex;
  align-items: center;
}
.searchbar input {
  transition: all 0.3s ease-in;
  margin-left: 10px;
}

/* dark mode */
.searchbar.dark input {
  background: #333;
  border-color: #222;
  color: rgb(185, 185, 185);
}
